extends base
block title
	title Archive
block content
	form.pure-form(action=url_for("frontend.search"))
		fieldset
			input.search.pure-input-1-2#search(name="q", placeholder="cate:default&tag:flask&hello")
			button.pure-button.pure-button-primary(type="submit") Search
	entries = get_data(type='post', sort='desc', limit=300)
	ul.archive-list
		for year, posts in entries
				p!= year
				for post in posts
					.post-set
						.post-link
							if post.metadata.refer
								a.refer-link(href=post.metadata.refer, target="_blank")
									span
										h3(style="margin-top:0em")!= post.date.format('%Y-%m-%d') + "  " + post.title
							else
								h3
									a(href=post.url)= post.title
	if paginator.has_pre or paginator.has_next
		.pager
			if pager.has_pre
				a.pre(href=pager.pre_url) ← new posts
			if pager.has_next
				a.next(href=pager.next_url) older posts →

